﻿<ul>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/aroma1997core">Aroma1997Core (by Aroma1997)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/aroma1997s-dimensional-world">Aroma1997s Dimensional World (by Aroma1997)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/autoreglib">AutoRegLib (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/bspkrscore-updated">bspkrsCore Updated (by ZenCoder)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/buildcraft">Buildcraft (by Covert_Jaguar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/clumps">Clumps (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/codechicken-lib-1-8">CodeChicken Lib 1.8.+ (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cofh-core">CoFH Core (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cofh-world">CoFH World (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/energy-converters">Energy Converters (by xalcon)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/expanded-equivalence">Expanded Equivalence (by Zeitheron)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/foamfix-optimization-mod">Foam​Fix (by asiekierka)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/forge-multipart-cbe">Forge MultiPart CBE (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/hammer-lib">Hammer (Lib) Core (by Zeitheron)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/hwyla">Hwyla (by TehNut)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ichunutil">iChunUtil (by ohaiiChun)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/industrial-craft">Industrial Craft (by sfPlayer1)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/inventory-tweaks">Inventory Tweaks [1.12 only]  (by JimeoWan)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/iron-chests">Iron Chests (by ProgWML6)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jaopca">JAOPCA (by TheLMiffy1111)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/journeymap">JourneyMap (by Techbrew)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jei">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mantle">Mantle (by mDiyo)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mouse-tweaks">Mouse Tweaks (by YaLTeR)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mrtjpcore">MrTJPCore (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mysticallib">MysticalLib (by EpicSquid315)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/netherportalfix">NetherPortalFix (by BlayTheNinth)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ore-excavation">Ore Excavation (by Funwayguy)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/orelib">OreLib (by OreCruncher)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-base">Project Red - Base (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-compat">Project Red - Compat (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-fabrication">Project Red - Fabrication (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-integration">Project Red - Integration (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-lighting">Project Red - Lighting (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-mechanical">Project Red - Mechanical (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-world">Project Red - World (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/projecte">ProjectE (by SinKillerJ)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/projecte-integration">ProjectE Integration (by TagnumElite)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/railcraft">Railcraft (by Covert_Jaguar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/redstone-flux">Redstone Flux (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-dynamics">Thermal Dynamics (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-foundation">Thermal Foundation (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/unidict">UniDict (by WanionCane)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/wanionlib">WanionLib (by WanionCane)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/wawla">Wawla - What Are We Looking At (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/worldedit">WorldEdit (by sk89q)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/wrapup">WrapUp (by TheLMiffy1111)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/zerocore">ZeroCore 2 (by ZeroNoRyouki)</a></li>
</ul>
